@model Picturra.Models.Profile.Profile
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Profile</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Portfolio</a>
        </li>
        <li>
            <a href="#3" data-toggle="tab">Contact</a>
        </li>
        <li>
            <a href="#4" data-toggle="tab">Order History</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProfileNameInput">Profile Name</label>
                            <input type="text" class="form-control" id="ProfileNameInput" />
                        </div>
                        <div class="form-group">
                            <label for="ProfileAboutInput">About</label>
                            <textarea class="form-control" cols="5" id="ProfileAboutInput"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div data-bind="template: { name: 'img-template', data: Profile.Image }"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Portfolio</h3>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Information</h3>
                </div>
            </div>
        </div>           
        <div class="tab-pane" id="4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order History</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
<script type="text/html" id="image-template">
    <div class="form-group">
        <label data-bind="attr: { 'for': AttributeId }">Upload</label>
        <input type="file" class="form-control" data-bind="attr: { id: AttributeId }" />
        <span class="input-group-btn">
            <button class="btn btn-secondary" data-bind="click: upload" type="button">Upload</button>
        </span>
    </div>
    <div class="form-group">
        <label data-bind="attr: {'for': 'ImageUpload'+AttributeId}">Caption</label>
        <textarea class="form-control" data-bind="textInput: Caption, attr: { id: 'ImageUpload'+AttributeId}"></textarea>
    </div>
</script>

<script type="text/html" id="img-template">
    <div class="row">
        <div class="col-md-6 col-md-4">
            <div class="thumbnail">
                <img data-bind="attr: {src: Url }">
                <div class="caption">
                    <div class="form-group">
                        <label data-bind="attr: {'for': 'ImageName'+AttributeId}">Name</label>
                        <input type="text" class="form-control" data-bind="textInput: Name, attr: {id: 'ImageName'+AttributeId}" />
                    </div>
                    <h3 data-bind="text: Name"></h3>
                    <div class="form-group">
                        <label data-bind="attr: { 'for': AttributeId }">Upload</label>
                        <input type="file" class="form-control" data-bind="attr: { id: AttributeId }, event: {change: upload}" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <label data-bind="attr: {'for': 'ImageUpload'+AttributeId}">Caption</label>
                        <textarea class="form-control" data-bind="textInput: Caption, attr: { id: 'ImageUpload'+AttributeId}"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>


@section Scripts{
    @Scripts.Render("~/bundles/profile");
    <script type="text/javascript">
        $(document).ready(function () {
            var model = ko.toJS(@Html.Raw(Json.Encode(Model)));
            ko.applyBindings(new ViewModel(model));
        });
    </script>
}