@model Picturra.Models.Profile.Profile
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Profile</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab" data-bind="click: LoadPortfolio">Portfolio</a>
        </li>
        <li>
            <a href="#3" data-toggle="tab" data-bind="click: LoadContactInformation">Contact</a>
        </li>
        <li>
            <a href="#4" data-toggle="tab" data-bind="click: LoadOrderHistory">Order History</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Profile Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProfileNameInput">Profile Name</label>
                            <input type="text" data-bind="textInput: Profile.Name"class="form-control" id="ProfileNameInput" />
                        </div>
                        <div class="form-group">
                            <label for="ProfileAboutInput">About</label>
                            <textarea class="form-control" data-bind="textinput: Profile.About" cols="5" id="ProfileAboutInput"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div data-bind="template: { name: 'img-template', data: Profile.Image }"></div>
                    </div>
                    <button class="btn btn-success" data-bind="click: Profile.save">Save Profile</button>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Portfolio</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="ProfileStatement">Artist's Statement</label>
                        <textarea id="ProfileStatement" data-bind="textInput: Profile.Portfolio.Statement" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-success" data-bind="click: Profile.Portfolio.AddSeries">Add Series</button>
                    <div data-bind="template: {name: 'series-template', foreach: Profile.Portfolio.SeriesCollection}"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div data-bind="template: {name: 'contact-template', data: ContactInformation }"></div>
                    </div>
                    
                </div>
               
            </div>
        </div>           
        <div class="tab-pane" id="4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order History</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>

<script type="text/html" id="contact-template">
    <div class="row">
        <div class="form-group">
            <label for="ContactEmail">Email</label>
            <input type="text" class="form-control" id="ContactEmail" data-bind="textInput: Email" />
        </div>
        <div class="form-group">
            <label for="ContactPhone">Phone</label>
            <input type="text" class="form-control" id="ContactPhone" data-bind="textInput: Phone"/>
        </div>
        <div class="form-group">
            <label for="ContactAddressOne">Address</label>
            <input type="text" class="form-control" id="ContactAddressOne" data-bind="textInput: AddressOne"/>
        </div>
        <div class="form-group">
            <label for="ContactAddressTwo">Address Two</label>
            <input type="text" class="form-control" id="ContactAddressTwo" data-bin="textInput: AddressTwo" />
        </div>
    </div>
</script>
<script type="text/html" id="series-template">
    <div class="row">
        <h3 data-bind="text: 'Series'+$index()"></h3>
        <div class="col-md-6">

            <div class="form-group">
                <label data-bind="attr: {'for': 'SeriesTitle'+uniqueId}">Series Title</label>
                <input type="text" data-bind="textInput: Title, attr: {id: 'SeriesTitle'+uniqueId}" class="form-control" />
            </div>

            <div class="form-group">
                <label data-bind="attr: {'for': 'SeriesDescription'+uniqueId}">Series Description</label>
                <textarea data-bind="textInput: Description, attr: {id: 'SeriesTemplate'+uniqueId}" cols="5" rows="5" class="form-control" ></textarea>
            </div>
        </div>
        <button class="btn btn-danger" style="float: right;" data-bind="click: $parent.Profile.Portfolio.RemoveSeries">Remove Series</button>
        <label data-bind="attr: {'for': 'SeriesTitleImage'+uniqueId}">Series Title Image</label>
        <div class="col-md-6">
            <div data-bind="template: { name: 'img-template', data: TitleImage }, attr: {id: 'SeriesTitleImage'+uniqueId}"></div>
            <button class="btn btn-success" data-bind="click: AddProject">Add Project</button>

        </div>
        <div data-bind="template: { name: 'project-template', foreach: Projects }"></div>
    </div>
</script>

<script type="text/html" id="contact-template">
  <div class="row">
  </div>
</script>
<script type="text/html" id="project-template">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-danger" data-bind="click: $parent.RemoveProject">Remove Project</button>
      <div class="form-group">
        <label data-bind="attr: {'for': 'ProjectTitle'+uniqueId}">Project Title</label>
        <input type="text" class="form-control" data-bind="textInput: Title, attr: {id: 'ProjectTitle'+uniqueId}"/>
      </div>
      <div class="form-group">
        <label data-bind="attr: {'for': 'ProjectMedium'+uniqueId}">Medium</label>
        <input type="text" class="form-control" data-bind="textInput: Medium, attr: {id: 'ProjectMedium'+uniqueId}"/>
      </div>
      <div class="form-group">
        <label data-bind="attr: {'for': 'ProjectHeight'+uniqueId}">Height (inches)</label>
        <input type="text" data-bind="textInput: Height, attr: {id: 'ProjectHeight'+uniqueId}" class="form-control"/>
      </div>
      <div class="form-group">
        <label data-bind="attr: {'for': 'ProjectWidth'+uniqueId}">Width (inches)</label>
        <input type="text" class="form-control" data-bind="textInput: Width, attr: {id: 'ProjectWidth'+uniqueId}"/>
      </div>
      <div class="form-group">
        <label data-bind="attr: {'for': 'ProjectYear'+uniqueId}">Year</label>
        <input type="text" class="form-control" data-bind="value: Year, attr: {id: 'ProjectYear'+uniqueId}"/>
      </div>
    </div>

    <div class="col-md-6">
      <button class="btn btn-success" data-bind="click: AddImage">Add Image</button>
      <div data-bind="template: { name: 'imgCollection-template', foreach: Images }"></div>
    </div>

  </div>
</script>
<script type="text/html" id="imgCollection-template">
    <div class="col-md-6 col-md-4">
      <div class="thumbnail">
        <img data-bind="attr: {src: Url }">
        <div class="caption">
          <div class="form-group">
            <label data-bind="attr: {'for': 'ImageName'+uniqueId}">Name</label>
            <input type="text" class="form-control" data-bind="textInput: Name, attr: {id: 'ImageName'+AttributeId}"/>
          </div>
          <h3 data-bind="text: Name"></h3>
          <div class="form-group">
            <label data-bind="attr: { 'for': uniqueId}">Upload</label>
            <input type="file" class="form-control" data-bind="attr: { id: uniqueId }, event: {change: upload}" accept="image/*"/>
          </div>
          <div class="form-group">
            <label data-bind="attr: {'for': 'ImageUpload'+uniqueId}">Caption</label>
            <textarea class="form-control" data-bind="textInput: Caption, attr: { id: 'ImageUpload'+uniqueId}"></textarea>
          </div>
          <button class="btn btn-danger" data-bind="click: $parent.RemoveImage">Remove Image</button>
        </div>
      </div>
    </div>
</script>
<script type="text/html" id="img-template">
  <div class="row">
    <div class="col-md-6 col-md-4">
      <div class="thumbnail">
        <img data-bind="attr: {src: Url }">
        <div class="caption">
          <div class="form-group">
            <label data-bind="attr: {'for': 'ImageName'+uniqueId}">Name</label>
            <input type="text" class="form-control" data-bind="textInput: Name, attr: {id: 'ImageName'+uniqueId}"/>
          </div>
          <h3 data-bind="text: Name"></h3>
          <div class="form-group">
            <label data-bind="attr: { 'for': uniqueId }">Upload</label>
            <input type="file" class="form-control" data-bind="attr: { id: uniqueId }, event: {change: upload}" accept="image/*"/>
          </div>
          <div class="form-group">
            <label data-bind="attr: {'for': 'ImageUpload'+uniqueId}">Caption</label>
            <textarea class="form-control" data-bind="textInput: Caption, attr: { id: 'ImageUpload'+uniqueId}"></textarea>
          </div>

        </div>
      </div>
    </div>
  </div>

</script>


@section Scripts{
    @Scripts.Render("~/bundles/profile");
    <script type="text/javascript">
        $(document).ready(function () {
            var model = ko.toJS(@Html.Raw(Json.Encode(Model)));
            ko.applyBindings(new ViewModel(model));
        });
    </script>
}